@import "mixins";

body {
  background: black;
  font-family: "Raleway";
  color: green;
}

.abaya-cat {
  text-align: center;
}

.all-abayas {
  background: url("../assets/all-abayas.jpg");
  height: 500px;
  background-size: cover;
}

.all-abayas,
.occasional,
.formals,
.casuals {
  h3 {
    color: white;
    text-decoration: none;
  }
}

.all-abayas,
.occasional,
.formals,
.casuals {
  a {
    text-decoration: none;
  }
}

.formals {
  background: url("../assets/formals.jpg");
  height: 500px;
  background-size: cover;
}

.casuals {
  background: url("../assets/casuals.jpg");
  height: 500px;
  background-size: cover;
}

.occasional {
  background: url("../assets/occasional.jpg");
  height: 500px;
  background-size: cover;
}

.parallex-area {
  background: url("../assets/home-page-parallex.jpg");
  height: 450px;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.website-features {
  background: rgba(0, 0, 0, 0.05);
}

.main-product img {
  display: block;
  margin: auto;
}

.main-product {
  text-align: center;
}

.main-product .product-img {
  max-width: 60%;
}

.main-product .color-img {
  max-width: 40%;
}

.website-features img {
  display: block;
  margin: auto;
}
