@import "mixins";

body {
  background: black;
  font-family: "Raleway";
  color: green;
}

.topbar {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  height: 40px;
}

.topbar p {
  margin-top: -15px;
}

.navbar .navbar-nav .nav-item {
  width: 110px;
}

.navbar ul li a {
  color: rgba(0, 0, 0, 0.9);
}

.navbar #user-icon {
  width: 40px;
  margin-top: 5px;
}

.navbar .main-logo {
  margin-top: -20px;
}
